<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Finding Shelters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="../static/css/signup.css"
    />
  </head>
  <p class="texto">Register</p>
  <div class="Registro">
    <form method="post" action="login.html">
      <span class="fontawesome-user"></span
      ><input type="text" required placeholder="Name" autocomplete="off" />
      <span class="fontawesome-envelope-alt"></span
      ><input
        type="text"
        id="email"
        required
        placeholder="email"
        autocomplete="off"
      />
      <span class="fontawesome-lock"></span
      ><input
        type="password"
        name="password"
        id="password"
        required
        placeholder="password"
        autocomplete="off"
      />
      <input type="submit" value="Register" title="Registra tu cuenta" />
      <a href="login.html"></a>
    </form>
  </div>
</html>
